/*Navbar CSS (including Saba's logo)*/
.sticky
{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.site-logo__graphic
{
  width: 130px;
  height: 45px;
}

#navbar
{
  padding-bottom: 10px;
  border-top: 0;
  margin-bottom: -5px;
  text-align: center;
  background-color: white;
  font-family: monospace;
}

.nav-link
{
  color: black;
  font-size: 25px;
}

.navbar-item
{
  position: relative;
}

/* Sections of Site */

h2
{
  font-family: monospace;
  margin-left: 40px;
}

.container
{
  margin-top: 60px;
  margin-bottom: 40px;
}

.col-6
{
  margin-left: -100px;
}

#artistbio
{
  margin-top: 40px;
}

#upcomingshows
{
  margin-top: -10px;
}
